@font-face {
  font-family: "Gotham";
  src: url("../fonts/gothhtfm.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Salvatore";
  src: url("../fonts/salvatore.ttf");
  font-style: normal;
  font-weight: normal;
}

/*estilos generales*/

body {
  font-family: "Salvatore";
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #cfcccc;
  background: white;
}
.logo {
  width: 200px;
}

.navbar {
  padding: 5px;
  background-color: white;
}

.navbar-toggler {
  margin-top: 10px;
  position: sticky;
  top: 0;
  z-index: 150;
}
.navbar-wpp i {
  font-size: 30px;
  color: #95c23d;
}

.collapse {
  width: 100%;
  justify-content: center;
}
.navbar-nav {
  width: 100%;
  justify-content: center;
}
.nav-link {
  color: #28367b;
  margin: 0px 15px;
  font-size: 1rem;
  font-weight: 100;
}
.nav-link:hover {
  color: #95c23d;
}

footer {
  padding: 50px 0px;
  background-color: #28367b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #dadada;
}

.footer-logo img {
  width: 150px;
}
footer ul {
  display: flex;
}
footer ul li {
  list-style: none;
}
.data {
  display: flex;
  flex-direction: column;
}
.data-item {
  display: flex;
}
.data-item i {
  margin: 0px 10px;
  color: #95c23d;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav-footer a {
  text-decoration: none;
  color: #dadada;
}
.nav-footer a:hover {
  color: #95c23d;
}
.net {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.net i {
  font-size: 25px;
  margin: 0px 10px;
}
.net i:hover {
  color: #95c23d;
}
main {
  overflow: hidden;
}

/*index*/

/*carousell*/

.item-1 {
  background-image: url(../images/slider-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
}

.item-2 {
  background-image: url(../images/slider-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}
.item-3 {
  background-image: url(../images/slider-3-beta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.carousel-caption {
  border-radius: 50px;
}

.carousel-caption img {
  width: 50px;
  margin: 0px 5px 5px 5px;
}
.carousel-caption h5 {
  font-size: 2rem;
  color: #95c23d;
  border-radius: 35px;
  padding: 10px;
  background: #28367b;
  padding: 7px 20px;
}
.principal h5 {
  font-size: 3rem;
}
.somos__title {
  font-size: 4rem !important;
  color: #95c23d;
  border-radius: 15px;
  padding: 10px;
}
.carousel-caption--leyend {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousell__button {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 5px 12px;
  border: 3px solid #95c23d;
  border-radius: 50px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #1d71b8;
  background-color: #95c23d;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.carousell__button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: rgb(29, 113, 184);
  border-radius: 50px;
  z-index: -1;
}

.carousell__button:hover,
.carousell__button:focus {
  color: #95c23d;
  border: 3px solid #1d71b8;
}

.carousell__button:hover:before,
.carousell__button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.carousell__button:active {
  transform: scale(0.9);
}

.institucional {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.institucional__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1d71b8;
  width: 67%;
  color: white;
  justify-content: center;
  border-radius: 0px 160px 160px 0px;
  border: 1px solid #455ed9;
  padding: 20px 0px;
}
.institucional__text h1 {
  color: #28367b;
  font-size: 25px;
}
.institucional__text span {
  color: #94c23d;
  font-size: 3rem;
}
.institucional__text h3 {
  color: rgb(40, 54, 123);
}
.institucional__text p {
  padding: 0px 50px;
  font-size: 1.2rem;
  font-weight: 200;
}

.institucional__image img {
  margin: 0px 15px;
  border-radius: 5px;
}

.proposito {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.proposito__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  background: #28367b;
  width: 90%;
  padding: 20px 30px;
  border-radius: 100px 0px 0px 100px;
}
.proposito__text h2 {
  color: #95c23d;
  font-size: 2.2rem;
  margin-bottom: 0px;
  margin-left: 50px;
}
.proposito__logo img {
  width: 130px;
  padding: 10px;
  margin: 20px;
}
.proposito__text h3 {
  color: #1d71b8;
  margin-left: 50px;
}
.proposito__text p {
  color: #dadada;
  margin-left: 50px;
  font-size: 1.3rem;
}

.parallax {
  background-image: url(../images/parrallax-opacity.png);
  height: 250px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  object-fit: cover;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.parallax__img {
  width: 50px;
  margin: 10px;
}

.nuestro__diferencial {
  margin: 40px 10px;
}

.diferencial {
  border: 1px solid #455ed9;
  border-radius: 0px 386px 386px 0px;
  padding: 20px 0px;
  margin-top: 20px;
  background: #1d71b8;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.diferencial h2 {
  color: #95c23d;
  margin-right: 40px;
  margin-bottom: 0px;
  font-size: 3rem;
}
.tips__container {
  display: flex;
  justify-content: center;
}

/*Diferencial*/
.tips {
  width: 70%;
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.card {
  min-width: 220px;
  height: 200px;
  transition: ease all 0.4s;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 900;
  color: #28367b;
  overflow: hidden;
  border: 1px solid #95c23d;
}

.card:hover {
  cursor: pointer;
  background: #95c23d;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
  flex-direction: column;
  font-size: 20px;
}
.first-content i {
  color: #95c23d;
  font-size: 3em;
}
.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  transition: ease all 0.4s;
  font-size: 20px;
}
.second-content span {
  padding: 0px 7px;
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
}
.tips__mobile--container {
  display: none;
}
.empresas-confian {
  display: flex;
  justify-content: end;
}
.empresas-confian h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-left: 50px;
  text-align: center;
}
.empresas-confian span {
  color: #94c23d;
  font-size: 3rem;
}
.empresas {
  padding: 30px 50px;
  background-color: #28367b;
  border-radius: 115px 0px 0px 115px;
  width: 95%;
}
.empresas__logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empresas h3 {
  color: #cfcccc;
  font-size: 21px;
  text-align: center;
}

.empresas__logos img {
  width: 8%;
  margin: 0px 15px;
}
.facts_title {
  margin-left: 35px;
}
.facts_title span {
  color: #94c23d;
  font-size: 3rem;
}
.facts_title h3 {
  color: #28367b;
}

.facts__counter-container {
  background-color: white;
}
.facts-container {
  background-color: #1d71b8;
  width: 90%;
  border-radius: 0px 75px 75px 0px;
}
.facts {
  margin-bottom: 30px;
}

.counter-box {
  display: block;
  padding: 40px 20px 37px;
  text-align: center;
  border-radius: 75px;
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #d2d2d2;
  font-size: 18px;
  font-weight: 500;
}

.counter-box i {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 15px;
  color: #d2d2d2;
}

.counter {
  display: block;
  font-size: 2.2rem;
  font-weight: 900;
  color: white;
  line-height: 28px;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #fff;
}
.legen__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  margin: 40px 45px;
  display: flex;
  align-items: center;
}

.legend img {
  border-radius: 5px;
}
.legend p {
  padding: 20px 50px;
  color: #28367b;
  font-size: 1.4rem;
  text-align: justify;
}
.legend span {
  color: #95c23d;
  font-size: 3rem;
}

/* SERVICIOS*/

.service__header {
  background-color: #28367b;
  border-radius: 0px 180px 180px 0px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.service__header img {
  width: 100px;
  margin-right: 100px;
}
.service__text {
  margin-left: 60px;
}
.service__text h1 {
  font-size: 6rem;
  color: #95c23d;
}
.service__text h4 {
  color: white;
  text-align: start;
  margin-left: 40px;
  font-size: 2rem;
}
.service__text h2 {
  color: #1d71b8;
  margin-left: 30px;
  font-size: 4em;
}

/* service description*/
.service__main {
  margin: 50px;
}

.service__first-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Gotham";
  color: #95c23d;
  overflow: hidden;
  font-size: 20px;
  padding-top: 15px;
}
.service__first-content span {
  padding-left: 30px;
  padding-right: 50px;
  text-align: justify;
}
.service__card--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.service__card--container img {
  border-radius: 5px;
  width: 700px;
}

.first {
  align-items: flex-end;
  margin-left: 40px;
  color: #28367b;
}
.service__title-container {
  width: 100%;
}
.first h3 {
  color: #95c23d;
  background-color: #28367b;
  padding: 15px;
  border-radius: 50px 0px 0px 50px;
  font-weight: bold;
  padding-left: 23px;
}
.first span {
  padding-right: 50px;
  text-align: justify;
  margin-top: 20px;
}

.second {
  align-items: flex-start;
  margin-right: 40px;
  color: #28367b;
}
.second h3 {
  background-color: #1d71b8;
  color: #94c23d;
  padding: 15px;
  border-radius: 0px 50px 50px 0px;
  font-weight: bold;
  text-align: end;
  padding-right: 25px;
}
.second span {
  padding-left: 50px;
  padding-right: 80px;
  text-align: justify;
  margin-top: 20px;
}
.description_b {
  margin: 10px 50px;
  padding: 5px;
  color: #28367b;
  font-size: 18px;
}

.brochure {
  background-color: #1d71b8;
  background-image: center;
  margin-bottom: 30px;
  margin-left: 50px;
  border-radius: 100px 0px 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
}

.brochure__text {
  display: flex;
  align-items: center;
}

.brochure p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.brochure span {
  color: #94c23d;
  font-size: 3rem;
}
.btn-ss {
  margin-left: 45px;
}

.btn-ss:hover {
  background-color: #28367b;
}
.btn-ss:before {
  background-color: #28367b;
}
.brochure img {
  width: 80px;
}

/* oportunidades laborales*/
.opportunities__main {
  background-image: url(../images/oportunidades-parl.png);
  background-position: center center;
  background-size: cover;
  object-fit: scale-down;
  height: 450px;
  display: flex;
  align-items: center;
}
.opportunities__main img {
  width: 100%;
}
.opportunities__text {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 39%;
}
.opportunities__text h1 {
  font-size: 5rem;
  color: #95c23d;
}
.opportunities__text h2 {
  color: white;
  font-size: 2.8rem;
}
.opportunities__legend {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opportunities__legend img {
  border-radius: 5px;
  margin-right: 35px;
}
.opportunities__legend--text {
  width: 55%;
  background-color: #1d71b8;
  color: white;
  padding: 30px 20px;
  border-radius: 0px 100px 100px 0px;
  text-align: center;
}
.legend-op {
  font-size: 3rem;
  color: #95c23d;
}
.queremos {
  background-color: #28367b;
  border-radius: 100px 0px 0px 100px;
  width: 89%;
  margin-bottom: 30px;
}
.queremos h4 {
  padding: 10px;
}
.cv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cv img {
  width: 120px;
  margin: 0px 40px 48px 40px;
}
.aplica {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.aplica img {
  border-radius: 5px;
  margin-left: 35px;
}
.discov {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.discov-1 {
  color: #95c23d;
  font-size: 5rem;
}
.discov-2 {
  color: #28367b;
  font-size: 2.5rem;
}
.encontra {
  margin-left: 5px;
  margin-top: 10px;
}
/* somos rhatios*/
.somos__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.somos__legend {
  display: flex;
  align-items: center;
}
.somos__legend img {
  width: 450px;
}
.somos__legend span {
  color: #28367b;
  font-size: 4.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-right: 20px;
}

.somos__header {
  text-align: center;
  background: #94c23d;
  padding: 30px 0px;
  width: 45%;
  border-radius: 0px 120px 120px 0px;
  margin-right: 10px;
  color: white;
  font-size: 1.2rem;
}
.somos__header p {
  margin: 0px;
  padding: 5px 100px;
}

.somos__header h1 {
  color: #28367b;
  font-size: 4rem;
}
.somos__paragraph {
  display: flex;
  justify-content: flex-end;
}
.somos__paragraph h2 {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  background: #28367b;
  width: 60%;
  padding: 10px 40px;
  border-radius: 100px 0px 0px 100px;
  align-self: flex-end;
  color: #95c23d;
  font-size: 4rem;
  text-align: center;
  margin: 5px 0px;
}

.somos {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.equipoa {
  background-image: url(../images/equipo-1.png);
}
.equipob {
  background-image: url(../images/equipo-3.png);
}
.equipoc {
  background-image: url(../images/equipo-4.png);
}
.somos__slogan {
  color: #28367b;
  margin: 0px 50px;
  padding: 30px;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.somos__slogan span {
  color: #94c23d;
  font-size: 3rem;
}
.somos__slogan p {
  padding: 30px 80px;
}
.somos__slogan img {
  border-radius: 10px;
}
.somos__slogan--img p {
  padding: 0px;
  font-size: 1rem;
  margin: 0px;
  line-height: 18px;
}
.somos__slogan--img span {
  margin: 0px 10px;
}

.somos__value {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.somos__value img {
  border-radius: 10px;
}
.value__container {
  display: flex;
  justify-content: flex-end;
}
.value__container--img img {
  border-radius: 10px;
  margin-right: 50px;
}
.value__container-tips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  justify-items: center;
  margin: 30px;
}
.value {
  color: #94c23d;
  font-size: 4rem;
  background-color: #28367b;
  padding: 15px 55px;
  width: 70%;
  border-radius: 100px 0px 0px 100px;
  margin-top: 30px;
}
.value-tips {
  font-size: 1.7rem;
  color: #28367b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #94c23d;
  width: 85%;
  border-radius: 50px;
  padding: 30px;
  transition: ease-in-out 0.5s;
}
.value-tips:hover {
  background-color: #1d71b8;
  color: white;
}
.value-tips span {
  font-size: 2.3rem;
  color: #94c23d;
}
.somos__equipo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0px;
}

/* contacto*/

.contact-main {
  background-image: url(../images/contact-main.png);
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: start;
}
.conect {
  margin: 25px 0px 10px 45px;
  width: 55%;
}
.comunity__containter {
  display: flex;
  justify-content: flex-end;
}

.contactx {
  color: #28367b;
  background-color: #1d71b8;
  width: 95%;
  margin: 10px 0px;
  border-radius: 100px 0px 0px 100px;
}

.contactx h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 15px;
}

.contactx span {
  color: #94c23d;
  font-size: 4rem;
}

.contactx h3 {
  color: #28367b;
}
.contact__redes--icon {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.contact__redes--icon i {
  color: #28367b;
  font-size: 2.5rem;
  margin: 0px 20px;
}
.contact__redes--icon i:hover {
  color: white;
}
.formu-text {
  background-color: #28367b;
  border-radius: 0px 100px 100px 0px;
  padding: 30px 0px;
}
.formu-text h2 {
  color: #95c23d;
  font-size: 3rem;
}
.formu-text h3 {
  font-size: 1.3rem;
  text-align: center;
  padding: 10px 35px;
}

/*formulario*/
.nombre-oculto {
  display: none;
  color: red;
}
.mail-oculto {
  display: none;
  color: red;
}
.mensaje-oculto {
  display: none;
  color: red;
}
form {
  display: flex;
}
.form__container--div {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  text-align: center;
}

.text__contact--container {
  display: flex;
  justify-content: flex-end;
}
.contact__form {
  display: flex;
  align-items: center;
}
.form__container {
  margin: 20px 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: #dadada;
}

label {
  font-size: 1.3rem;
  color: #28367b;
}
input {
  border-radius: 10px;
  border: 1px solid #28367b;
}
.send_button {
  background-color: #94c23d;
  color: #28367b;
  padding: 5px;
  margin: 6px;
  transition: ease-in-out 0.5s;
  border-radius: 10px;
  border: none;
}
.send_button:hover {
  background-color: #1d71b8;
  opacity: 0.9;
  color: white;
}

textarea {
  height: 140px;
  border-radius: 15px;
}

/* seleccion de personal*/
.seleccion__title h1 {
  background-color: #28367b;
  color: #94c23d;
  width: 75%;
  padding: 25px;
  font-size: 4rem;
  text-align: center;
  border-radius: 0px 100px 100px 0px;
}

.service__content--description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.descript {
  align-items: self-start;
}
.descript h3 {
  background: #1d71b8;
  font-weight: 200;
  text-align: start;
}
.contratar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contratar h2 {
  color: #28367b;
  font-size: 2rem;
}
.contratar span {
  font-size: 3rem;
  color: #94c23d;
}
/*media queries*/
@media only screen and (min-width: 360px) and (max-width: 780px) {
  /* estilos generales*/
  footer {
    flex-direction: column;
  }
  .footer-logo img {
    margin-bottom: 40px;
  }
  .data {
    align-items: center;
    margin-bottom: 40px;
  }
  .nav-footer {
    align-items: center;
    margin-bottom: 40px;
  }

  /*index*/
  .carousel-caption h5 {
    font-size: 1rem;
  }
  .carousel-caption img {
    width: 0px;
  }
  .carousell__button {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 2px 7px;
  }
  .institucional {
    flex-direction: column;
  }
  .institucional__text {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  .institucional__text h1 {
    font-size: 1rem;
    padding: 0px 30px;
  }
  .institucional__text span {
    font-size: 2.3rem;
  }
  .institucional__text p {
    font-size: 1rem;
    text-align: center;
  }
  .institucional__image img {
    width: 100%;
  }
  .proposito {
    justify-content: center;
  }
  .proposito__text {
    border-radius: 15px;
    padding: 30px 30px;
    align-items: center;
  }
  .proposito__logo img {
    display: none;
  }
  .proposito__text h2 {
    margin: 0px;
    font-size: 1.5rem;
    text-align: center;
  }
  .proposito__text h3 {
    font-size: 1rem;
    margin: 0px;
    text-align: center;
  }
  .proposito__text p {
    margin: 0px;
    text-align: center;
  }
  .proposito__logo img {
    margin: 10px;
    padding: 0px;
  }
  .diferencial {
    width: 100%;
    justify-content: center;
    border-radius: 50px;
  }
  .diferencial h2 {
    margin: 0px;
    padding: 0px 2px;
    font-size: 2rem;
  }
  .tips__container {
    display: none;
  }

  .tips__mobile--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    gap: 5px;
    margin: 10px 0px;
  }
  .tips__mobile--container span {
    font-size: 1.2rem;
    color: #94c23d;
  }
  .tips__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    align-self: center;
  }
  .tips__mobile i {
    font-size: 1.6rem;
    font-weight: bold;
    color: #1d71b8;
  }
  .tips__mobile h4 {
    color: #28367b;
    font-size: 1rem;
    text-align: center;
  }
  .empresas {
    width: 100%;
    border-radius: 15px;
    margin: 0px 10px;
  }
  .empresas h3 {
    font-size: 1rem;
    margin: 0px;
  }
  .empresas__logos {
    flex-wrap: wrap;
  }
  .empresas__logos img {
    margin: 10px;
    width: 15%;
  }
  .empresas-confian h2 {
    margin-left: 0px;
  }
  .facts_title span {
    font-size: 2rem;
  }
  .facts_title h3 {
    text-align: center;
  }
  .counter-box {
    padding: 10px;
  }
  .counter {
    font-size: 1.5rem;
  }
  .facts__counter-container {
    display: flex;
    justify-content: center;
  }
  .facts-container {
    border-radius: 15px;
    width: 95%;
    margin: 0px;
  }
  .legend {
    flex-direction: column;
  }
  .legend img {
    width: 100%;
    height: 100%;
  }
  .legend span {
    font-size: 2rem;
  }
  .legend p {
    font-size: 1rem;
    padding: 0px;
  }
  /*servicios*/
  .service__header {
    margin: 0px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
  }
  .service__header img {
    width: 30px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .legend img {
    display: none;
  }
  .service__text {
    margin-left: 35px;
  }
  .service__text h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .service__text h4 {
    font-size: 1.6rem;
    margin-left: 0px;
    text-align: center;
  }
  .service__text h2 {
    font-size: 2rem;
    margin: 0px;
    text-align: center;
  }
  .service__card--container {
    flex-direction: column;
    align-items: center;
  }
  .service__card--container img {
    width: 100%;
  }
  .card {
    max-width: 150px;
  }
  .cont-odd {
    flex-direction: column-reverse;
  }
  .second {
    margin: 0px;
  }
  .service__main {
    margin: 0px;
  }

  .service__first-content span {
    font-size: 1.1rem;
  }
  .first {
    margin: 0px;
    align-items: center;
  }
  .first h3 {
    font-size: 1.2rem;
  }
  .first span {
    padding: 30px;
  }
  .second {
    align-items: center;
  }
  .second h3 {
    font-size: 1.2rem;
  }
  .second span {
    padding: 30px;
  }
  .brochure {
    border-radius: 30px;
    margin-left: 0px;
    margin-bottom: 40px;
    padding: 15px;
  }
  .brochure span {
    font-size: 2rem;
  }
  .brochure img {
    width: 50px;
  }
  .brochure p {
    font-size: 1.2rem;
    margin-left: 0px;
    text-align: center;
  }
  .service__img-container img {
    display: none;
  }
  .btn-ss {
    margin-left: 15px;
  }
  /*oportunidades laborales*/
  .opportunities__main {
    align-items: end;
    justify-content: center;
  }

  .opportunities__text {
    padding: 5px;
    background: #28367b;
    margin: 0px 20px 10px 20px;
    width: 100%;
    border-radius: 20px;
  }
  .opportunities__text h2 {
    color: white;
  }
  .opportunities__text h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .opportunities__text h2 {
    font-size: 1rem;
    text-align: center;
  }
  .opportunities__legend {
    flex-direction: column-reverse;
    margin: 30px 10px;
  }
  .opportunities__legend--text {
    width: 100%;
    border-radius: 15px;
  }
  .opportunities__legend--text span {
    font-size: 2rem;
  }
  .opportunities__legend--text h4 {
    font-size: 1.2rem;
  }
  .opportunities__legend img {
    width: 100%;
    margin: 20px 0px;
  }
  .discov-2 {
    font-size: 1.5rem;
  }
  .queremos {
    margin: 0px 10px;
  }
  .cv img {
    display: none;
    margin-right: 10px;
  }
  .aplica {
    flex-direction: column;
  }
  .aplica img {
    width: 100%;
    margin: 0px 10px;
  }
  .discov {
    align-items: center;
    padding: 50px;
  }
  .discov-1 {
    font-size: 2rem;
  }
  /*contacto*/
  .contact-main {
    display: none;
  }
  .contact__form {
    flex-direction: column;
  }
  form {
    flex-direction: column;
  }
  .formu-text {
    margin-top: 30px;
  }
  .form__container {
    flex-direction: column;
    width: 80%;
  }
  textarea {
    margin-left: 0px;
  }
  .contactx span {
    font-size: 1.6rem;
  }
  .contactx h2 {
    font-size: 1rem;
    text-align: center;
  }

  .contact-main {
    background-position: inherit;
  }
  .contactx {
    width: 100%;
    border-radius: 20px;
  }
  /*somos rhatios*/
  .equipoa {
    background-image: url(../images/carousell-mobile-1.png);
  }

  .equipob {
    background-image: url(../images/carousell-mobile-2.png);
  }
  .equipoc {
    background-image: url(../images/carousell-mobile-3.png);
  }

  .somos__header {
    width: 100%;
    border-radius: 15px;
    margin: 0px;
    padding: 10px 5px;
  }

  .somos__header h1 {
    font-size: 1.5rem;
  }
  .somos__paragraph h2 {
    width: 100%;
    font-size: 3.7rem;
    padding: 5px;
    border-radius: 100px;
  }
  .somos__slogan {
    padding: 0px;
    flex-direction: column-reverse;
  }
  .somos__slogan p {
    font-size: 1.3rem;
  }
  .somos__legend span {
    font-size: 2.5rem;
  }
  .somos__container {
    margin: 20px;
  }

  .somos__legend img {
    width: 200px;
  }
  .somos__slogan span {
    font-size: 2rem;
  }
  .somos__slogan p {
    padding: 5px;
    font-size: 1rem;
  }
  .somos__slogan {
    justify-content: center;
  }
  .value {
    width: 100%;
    font-size: 2rem;
    border-radius: 20px;
  }
  .value-tips {
    width: 100%;
    border-radius: 30px;
    padding: 20px;
  }
  .value-tips span {
    font-size: 1rem;
  }
  .value-tips h4 {
    font-size: 1rem;
  }
  .somos__equipo {
    flex-direction: column;
    margin: 15px;
  }
  .value__container--img img {
    margin: 5px;
    width: 100%;
  }
  .value__container-tips {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 10px;
    gap: 15px;
  }
  /*service description*/
  .seleccion__title h1 {
    width: 100%;
    border-radius: 20px;
  }
  .service__content--description {
    grid-template-columns: 1fr;
  }
  .descript h3 {
    border-radius: 20px;
  }
  .contratar {
    margin: 15px;
  }
  .contratar h2 {
    font-size: 1.1rem;
  }
  .contratar span {
    font-size: 1.5rem;
  }
  .service__description-container ul {
    font-size: 1rem;
    padding: 5px 30px;
  }
  .seleccion__title h1 {
    font-size: 2rem;
  }
}
